{% extends "base.html" %}

{% block content %}
<h3>События</h3>
{% if current_user.status == 1 %}
        <a href="/add_event"><button style="background-color: rgb(191, 96, 64); color: white; border: none; outline: none;">Добавить новое событие</button></a>
{% endif %}
{% for item in events%}
    <div class="col-md6 border rounded">
        <table class="table table-striped-columns">
                <tr><th>Соревнование</th><th>Дата и время</th><th>Описание</th>
                        <tr><td style="text-transform: none;">{{item.name}}</td><td>{{item.date}}</td><td>{{item.description}}</td>
        </table>
        <div><h1> </h1></div>
    </div>
    {% if current_user.is_authenticated %}
    <div>
        {% if current_user.status != 1 %}
        <a href="/events/{{ item.id }}"><button style="background-color: rgb(191, 96, 64); color: white; border: none; outline: none;">Записаться</button></a>
        {% elif current_user.status == 1 %}
        <a href="/save/{{ item.id }}"><button style="background-color: rgb(191, 96, 64); color: white; border: none; outline: none;">Список участников</button></a>
        <a href="/last_events/{{ item.id }}"><button style="background-color: rgb(191, 96, 64); color: white; border: none; outline: none;">Событие прошло</button></a>
        <a href="/del_events/{{ item.id }}"><button style="background-color: rgb(191, 96, 64); color: white; border: none; outline: none;">Удалить событие</button></a>
        {% endif %}
    </div>
{% endif %}
    {% endfor %}
<p style="text-transform: none; font-weight: bold; color: black;">{{ message }}</p>
{% endblock %}