{% extends "base.html" %}

{% block content %}
<table border="0" class="profile-table">
    <tr><td valign="top">
        <div class="profile-ava"><img src="{{ current_user.avatar }}" style="width: 150px; height: 150px;"></div>
        <div class="profile-load">
        <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            <p><input type="file" name="file">
            <p><input type="submit" name="Загрузить">
        </form>
        </div>
    </td>
    <td valign="top" class="profile-panel">
        <ul class="profile-info">
        <li>Имя: {{ current_user.username }}</li>
        <li>Фамилия: {{ current_user.surname }}</li>
        <li>Email: {{ current_user.email }}</li>
        <li>Мои соревнования:</li>
            <ul>
                {% for item in competitions%}
                    <li>{{ item.competition.name}}</li>
                    <a href="/events/del/{{ item.type }}"><button style="background-color: rgb(191, 96, 64); color: white; border: none; outline: none;">Не участвовать</button></a>
            {% endfor %}
            </ul>
            <li><b>Медицинская справка</b></li>
            {% if current_user.docs != '-' %}
            <a href="/download"><button style="background-color: rgb(191, 96, 64); color: white; border: none; outline: none;">Сохранить</button></a>
            {% endif %}
            <div class="file-load">
                <form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">
                    <p><input type="file" name="file">
                    <p><input type="submit" name="Загрузить">
                </form>
</table>
<a href="/logout" style="top: 410px; position: absolute; left: 47%; color: #FF7400"><h1 align="center" style="color: #FF7400">Выйти</h1></a>
{% endblock %}