<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet/less" type="text/css" href="{{url_for('static', filename='css/style.less')}}">
    <script src="https://cdn.jsdelivr.net/npm/less" ></script>
    <script src="/static/css/style.js"></script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <a href="/"><button id="exit" style="background-color: rgba(255, 255, 255, 0); border: none; outline: none;"></button></a>
        <img id="third" src="/static/img/line.png" style="margin-top: -45px; height: 50 px;">
    <body style="background: white;">
    <table id="register" >
    <td id="rform"><form action="" method="post" >
        <h1 align="center">Регистрация</h1>
        {{ form.hidden_tag() }}
        <p align="center">
            <b>{{ form.username.label }}</b><br>
            {{ form.username(class="form-control") }}<br>
            {% for error in form.username.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p align="center">
            <b>{{ form.surname.label }}</b><br>
            {{ form.surname(class="form-control") }}<br>
            {% for error in form.surname.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p align="center">
            <b>{{ form.age.label }}</b><br>
            {{ form.surname(class="form-control") }}<br>
            {% for error in form.age.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p align="center">
            <b>{{ form.email.label }}</b><br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p align="center">
            <b>{{ form.password.label }}</b><br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p align="center">
            <b>{{ form.password_again.label }}</b><br>
            {{ form.password_again(class="form-control", type="password") }}<br>
            {% for error in form.password_again.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p align="center"><button style="
            border: none;
            outline: none;
            background: linear-gradient(90deg, #ff9966, #ff5e62);
            padding: 0.5rem 1.5rem;
            border-radius: 50px;
            color: white;
            text-transform: none;
            font-size: 1rem;
            box-shadow: 1px 10px 2rem rgba(255, 94, 98, 0.5);
            transition: all 0.2s ease-in;
            text-decoration: none;" type="submit">Зарегистрироваться</button></p>
        <p style="text-transform: none; font-weight: bold; color: black;">{{ message }}</p>
    </form></td>
        </tr></table>
    </body>
</html>